<main class="container">
  <div class="row mt-1">
    <div class="col-12">
      <div class="card">
        <div class="card-body bg-dark text-white">
          <div class="row">
            <div class="col-12">
              <h1 class="w-100 text-center display-3 fw-bold">EDU-QUESTIONS</h1>
              <h3 class="w-100 text-center fw-normal mb-3">
                APRENDE CON NOSOTROS
              </h3>
              <h4 class="w-100 text-center" style="text-transform: uppercase">
                Bienvenid@
                <span *ngIf="auth.user$ | async as user">{{
                  user["name"]
                }}</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row" *ngIf="listGradosUsuario.length > 0">
            <div class="col-12">
              <h4 class="w-100 text-center">TUS REGISTROS</h4>
            </div>
            <div
              class="col-md-4"
              *ngFor="let item of listGradosUsuario; let i = index"
            >
              <div class="card">
                <div class="card-body bg-warning">
                  <div class="row">
                    <div class="col-md-12">
                      <p><strong>Nivel: </strong> {{ item.nivel }}</p>
                      <p><strong>Grado: </strong> {{ item.grado }}</p>
                      <p class="mb-0">
                        <strong>Materias: </strong>
                        <span>{{ item.materias.length }}</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <a
                    routerLink="/itinerario{{ item.id }}"
                    class="btn btn-success btn-block"
                    >Programar itinerarios</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="listGradosUsuario.length == 0">
            <div class="col-12">
              <h4 class="text-gray w-100 text-center" style="color:gray">NO TIENES REGISTROS AÚN</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</main>
