<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <!-- index.html -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <span class="fs-4 fw-bold fst-italic">EDU Questions</span>
        </a>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="inicio" routerLinkActive="active" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                    <a routerLink="menu" routerLinkActive="active" class="nav-link">Menu</a>
                </li>
                <li>
                    <a routerLink="registro-notas" routerLinkActive="active" class="nav-link">Registrar notas</a>
                </li>
                <li>
                    <a routerLink="registro-notas" routerLinkActive="active" class="nav-link">Itinerario</a>
                </li>
                <li>
                    <a routerLink="registro-notas" routerLinkActive="active" class="nav-link">Lista de tarea</a>
                </li>
            </ul>
        </nav>
        <!-- <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Inicio</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Mis notas</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Itinerario</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Lista de tarea</a></li>
        </ul> -->

        <div class="text-end">
          <button type="button" (click)="logOut()" class="btn btn-warning">Salir</button>
        </div>
      </div>
    </div>
  </header>


<router-outlet></router-outlet>
<app-inicio></app-inicio>

