body {
  background-color: gold;
}
.buscador input {
  border: none;
  outline: none;
  font-size: 25px;
  padding: 8px;
  color: black;
  border-radius: 4px;
  box-sizing: border-box;
  width: calc(50% - 18px);
}
.buscador button {
  border: 0px;
  background: midnightblue;
  color: white;
  border-radius: 5px;
  padding: 12px 9px;
  font-size: 15px;
  cursor: pointer;
}

.buscador button:disabled {
  cursor: not-allowed;
  background-color: gray;
}

.buscador {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 20px;
}
.container {
  background: rgb(46, 49, 49);
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
  color: white;
  text-align: justify;
}

