<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intinerario de Estudio</title>
  <span class="fs-4 fw-bold fst-italic">EDU Questions</span>
</head>
<body>
  <h1 class="text-center">EDU-QUESTIONS</h1>
  <div>
    <input type="text" placeholder=" Crear Intnierario de Estudio">
    <button>Generar intinerario</button>
  </div>

  
</body>
</html>
<!-- <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
  </header> -->
