<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intinerario de Estudio</title>
  <span class="fs-4 fw-bold fst-italic">EDU Questions</span>
</head>
<h1 class="text-center">EDU-QUESTIONS</h1>
<script>
  function onClickSearch() {
    let respuesta = "Respuesta del servidor";
    let containerHtml = document.getElementById('searchResult');
    containerHtml.innerHTML = respuesta;
  }
</script>
<body>
  <p class="text-center">Ingrese un tema para poder generar un intinerario de estudio</p>
  <div class="buscador">
    <input class="text-center" type="text" placeholder=" Crear Intnierario de Estudio">
    <button>Generar intinerario</button>
  </div>  

  <div class="container">
    aksdajdjaljdlajsda
    akdaldjaksjdaskjdakd
  </div>
</body>
</html>

